snippet module "Quick Module Setup"
package ${1:MyModule};

use strict;
use Exporter;
use vars qw($VERSION @ISA @EXPORT_OK);
$VERSION     = ${2:0.1.0};
@ISA         = qw(Exporter);
@EXPORT_OK   = qw();

sub ${3:func1}: {
  $4
}

endsnippet
